---
swagger: "2.0"
info:
  description:
    "This This is a host for cargosprint public api documentation. You\
    \ can use our API to search facilities and make payments. We are currently\
    \  in development and will have more features coming soon. You can also visit\
    \ [CargoSprint's main website.](https://cargosprint.com/)"
  version: "1.0.0"
  title: "CargoSprint Public Api Swagger"
  termsOfService: "https://cargosprint.com/legal/terms-of-use/sprintpay"
  contact:
    email: "support@cargosprint.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "cargosprintgroup.com"
basePath: ""
tags:
  - name: "authentication"
    description: "Token needed to access service APIs"
  - name: "facility"
    description: "List facilities"
  - name: "payment"
    description: "Make payment to facility"
schemes:
  - "https"
  - "http"
paths:
  oauth-{environment}.cargosprintgroup.com/oauth2/token?grant_type=client_credentials:
    post:
      tags:
        - "authentication"
      summary: "get access token"
      description: ""
      operationId: "getToken"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "X-APP-ID"
          in: "header"
          description: "Assigned ID associated to client application"
          required: true
          type: "string"
        - name: "Authorization"
          in: "header"
          description: "Basic access token with client credentials"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/getTokenApiResponse"
      # security:
      #   - petstore_auth:
      #       - "write:pets"
      #       - "read:pets"
  facility-{environment}.cargosprintgroup.com/facilities?name={facilityName}&firmsCode={firmsCode}&airportCode={airportCode}&airlinePrefix={airlinePrefix}:
    post:
      tags:
        - "facility"
      summary: "search for facilities"
      description: ""
      operationId: "searchFacilities"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
      - name: "X-APP-ID"
          in: "header"
          description: "Assigned ID associated to client application"
          required: true
          type: "string"
        - name: "Authorization"
          in: "header"
          description: "Oauth access token"
          required: true
          type: "string"
        - name: "facilityName"
          in: "query"
          description: "The name for facility"
          required: false
          type: "string"
        - name: "firmsCode"
          in: "query"
          description: "The code for the firm"
          required: false
          type: "string"
        - name: "airportCode"
          in: "query"
          description: "The code for the airline"
          required: false
          type: "string"
        - name: "airlinePrefix"
          in: "query"
          description: "The airline prefix code"
          required: false
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/searchFacilitiesResponse"
        400:
          description: "Invalid Order"
      security:
        - cargosprint_auth:
            - "api.facility:read"
  cart-{environment}.cargosprintgroup.com/payment:
    post:
      tags:
        - "payment"
      summary: "submit a payment"
      description: ""
      operationId: "submitPayment"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "List of payment request object"
          required: true
          schema:
            type: "object"
            items:
              $ref: "#/definitions/PaymentRequest"
      responses:
        default:
          description: "successful operation"
      security:
        - cargosprint_auth:
            - "api.cart:write"
securityDefinitions:
  X-APP-ID:
    type: "apiKey"
    name: "app_id"
    in: "header"
  cargosprint_auth:
    type: "oauth2"
    authorizationUrl: "oauth-{environment}.cargosprintgroup.com/oauth2/token"
    flow: "implicit"
    scopes:
      api.facility:read: "read facilities"
      api.cart:write: "modify/create payments in cart"
definitions:
  getTokenApiResponse:
    type: "object"
    properties:
      access_token:
        type: "string"
      scope:
        type: "string"
      token_type:
        type: "string"
      expires_in:
        type: "integer"
        format: "int64"
  searchFacilitiesResponse:
    type: "object"
    properties:
      content:
        type: "array"
        items:
          type: "object"
          properties:
            id:
              type: "integer"
              format: "int64"
            name:
              type: "string"
            airportCode:
              type: "string"
            firmsCode:
              type: "string"
            prefixes:
              type: "string"
            prefix:
              type: "string"
            awbFieldType:
              type: "string"
            awbFieldLabel:
              type: "string"
            hawbFieldLabel:
              type: "string"
            addressDTO:
              type: "object"
              properties:
                addressLine1:
                  type: "string"
                city:
                  type: "string"
                state:
                  type: "string"
                zip:
                  type: "string"
      pageable:
        type: "object"
        properties:
          sort:
            type: "object"
            properties:
              unsorted:
                type: "boolean"
              sorted:
                type: "boolean"
              empty:
                type: "boolean"
          pageSize:
            type: "integer"
            format: "int64"
          pageNumber:
            type: "integer"
            format: "int64"
          offset:
            type: "integer"
            format: "int64"
          unpaged:
            type: "boolean"
          paged:
            type: "boolean"
      totalElements:
        type: "integer"
        format: "int64"
      totalPages:
        type: "integer"
        format: "int64"
      last:
        type: "boolean"
      numberOfElements:
        type: "integer"
        format: "int64"
      first:
        type: "boolean"
      size:
        type: "integer"
        format: "int64"
      number:
        type: "integer"
        format: "int64"
      sort:
        type: "object"
            properties:
              unsorted:
                type: "boolean"
              sorted:
                type: "boolean"
              empty:
                type: "boolean"
      empty:
        type: "boolean"
  PaymentRequest:
    type: "array"
    items:
      type: object
      properties:
        awb:
          type: "string"
        hawb:
          type: "string"
        amount:
          type: "string"
        customerReference:
          type: "string"
        facility:
          type: "object"
          properties:
            id:
              type: "integer"
              format: "int64"
        paymentType:
          type: "string"
        notificationEmail:
          type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
